<a href="https://colab.research.google.com/github/shaikhajira653/shaikhajira653/blob/main/SQLPROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,874 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.5 [769 kB]
Fetched 769 kB in 1s (1,370 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 126374 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.5_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.5) ...
Setting up sqlite3 (3.37.2-2ubuntu0.5) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("/content/drive/MyDrive/my_database.db")

In [ ]:
# define the correct path for the database
db_path ="/content/drive/MyDrive/my_database.db (1).db"

In [ ]:
db_folder =('/content/drive/MyDrive/db_folder')
os.makedirs(db_folder,exist_ok=True) # ensure the folder exists
db_path = os.path.join(db_folder, "/content/drive/MyDrive/my_database.db" )

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("database connect at:",db_path)

database connect at: /content/drive/MyDrive/my_database.db

customer table

In [ ]:
cursor.execute('''
CREATE TABLE CUSTOMERS ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);
''')
conn.commit()

In [ ]:
def insert_CUSTOMERS(customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO CUSTOMERS(customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()

#insertion
insert_CUSTOMERS(123001,"Oliver","225-5,Emeryvile","CA", "1867537892")
insert_CUSTOMERS(123002,"George","194-6,Emeryvile","CA", "1867537892")

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM CUSTOMERS ")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+-----------------+--------------+-------------+
|   customer_id | customer_name   | Address         | state_code   |   Telephone |
+===============+=================+=================+==============+=============+
|        123001 | Oliver          | 225-5,Emeryvile | CA           |  1867537892 |
+---------------+-----------------+-----------------+--------------+-------------+
|        123002 | George          | 194-6,Emeryvile | CA           |  1867537892 |
+---------------+-----------------+-----------------+--------------+-------------+

1.Print customer Id, customer name and average account_balance maintained by each customer for all of his/her accounts in the bank.(8 Rows)

In [ ]:
# SQL query to get customer_id, customer_name, and average balance amount
query = """
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.balance_amount) AS avg_balance
FROM BANK_CUSTOMER c
LEFT JOIN BANK_Account_Details a ON c.customer_id = a.customer_id
GROUP BY c.customer_id, c.customer_name
LIMIT 8;  -- Show only 8 rows
"""

# Execute the query
cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print table headers
print("{:<12} {:<20} {:<15}".format(*columns))
print("-" * 50)

# Print each row in a properly formatted way
for row in results:
    print("{:<12} {:<20} {:<15.2f}".format(*row))  # Format avg_balance to 2 decimal places

customer_id  customer_name        avg_balance
--------------------------------------------------
123001       Oliver               4800000.00
123002       George               3950000.00
123003       Harry                750000.00
123004       Jack                 4077500.00
123005       Jacob                300000.00
123006       Noah                 151666.67
123007       Charlie              1845000.00
123008       Robin                0.00

In [ ]:
#2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows).
query = """
SELECT
    a.customer_id,
    a.account_number,
    COALESCE(a.balance_amount, t.transaction_amount) AS balance_amount
FROM BANK_Account_Details a
LEFT JOIN BANK_Account_transaction t ON a.account_number = t.account_number
WHERE a.account_type = 'Credit Card'
LIMIT 4;  -- Show only 4 rows
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+------------------+
|    |   customer_id | Account_Number      |   balance_amount |
|----+---------------+---------------------+------------------|
|  0 |        123007 | 9000-1700-7777-4321 |                0 |
|  1 |        123007 | 9000-1700-7777-4321 |                0 |
|  2 |        123007 | 9000-1700-7777-4321 |                0 |
|  3 |        123006 | 5800-1700-9800-7755 |                0 |
+----+---------------+---------------------+------------------+

Bank_customers

In [ ]:
cursor.execute('''
CREATE TABLE CUSTOMERS_EXPORT ( customer_id CHAR(10),
                  customer_name CHAR(20),
                  Address CHAR(20),
                  state_code  CHAR(3) ,
                  Telephone  CHAR(10) );
''')
conn.commit()

In [ ]:
def insert_CUSTOMERS_EXPORT (customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO CUSTOMERS_EXPORT(customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()

#insertion
insert_CUSTOMERS_EXPORT(123001,"Oliver","225-5,Emeryvile","CA", "1867537892")
insert_CUSTOMERS_EXPORT(123002,"George","194-6,Emeryvile","CA", "1867537892")

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM CUSTOMERS_EXPORT ")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+-----------------+--------------+-------------+
|   customer_id | customer_name   | Address         | state_code   |   Telephone |
+===============+=================+=================+==============+=============+
|        123001 | Oliver          | 225-5,Emeryvile | CA           |  1867537892 |
+---------------+-----------------+-----------------+--------------+-------------+
|        123002 | George          | 194-6,Emeryvile | CA           |  1867537892 |
+---------------+-----------------+-----------------+--------------+-------------+

Bank_Accounts

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACCOUNTS( customer_id INT,
	                Account_Number VARCHAR(19),
		              Account_type VARCHAR(25),
		              Balance_amount INT ,
			Account_status VARCHAR(10), Relation_ship varchar(1) ) ;

''')
conn.commit()

In [ ]:
def insert_BANK_ACCOUNTS (customer_id,account_number,account_type,balance_amount,account_status,relation_ship):
  cursor.execute("INSERT INTO BANK_ACCOUNTS(customer_id,Account_number,Account_type,Balance_amount,Account_status,Relation_ship) VALUES (?,?,?,?,?,?)",(customer_id,account_number,account_type,balance_amount,account_status,relation_ship))
  conn.commit()

#insertion
insert_BANK_ACCOUNTS (123001, "4000-1956-3456",  "SAVINGS"            , 200000 ,"ACTIVE","P");
insert_BANK_ACCOUNTS  (123001, "5000-1700-3456",  "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S");
insert_BANK_ACCOUNTS (123002, "4000-1956-2001",  "SAVINGS"            , 400000 ,"ACTIVE","P");
insert_BANK_ACCOUNTS (123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
insert_BANK_ACCOUNTS (123003, "4000-1956-2900",  "SAVINGS"            ,750000,"INACTIVE","P");
insert_BANK_ACCOUNTS (123004, "5000-1700-6091",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
insert_BANK_ACCOUNTS (123004, "4000-1956-3401",  "SAVINGS"            , 655000 ,"ACTIVE","P");
insert_BANK_ACCOUNTS (123005, "4000-1956-5102",  "SAVINGS"            , 300000 ,"ACTIVE","P");
insert_BANK_ACCOUNTS (123006, "4000-1956-5698",  "SAVINGS"            , 455000 ,"ACTIVE" ,"P");
insert_BANK_ACCOUNTS (123007, "5000-1700-9800",  "SAVINGS"            , 355000 ,"ACTIVE" ,"P");
insert_BANK_ACCOUNTS (123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S");
insert_BANK_ACCOUNTS (123007, "9000-1700-7777-4321",  "CREDITCARD"    ,0      ,"INACTIVE","P");
insert_BANK_ACCOUNTS (123008, "5000-1700-7755",  "SAVINGS"            ,0   ,"INACTIVE","P");

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_ACCOUNTS")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|   customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relation_ship   |
+===============+=====================+====================+==================+==================+=================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+

Bank_Account_Relationship

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Account_Relationship( Customer_id INT,
								          Account_Number VARCHAR(19),
                          Account_type VARCHAR(25),
                          Linking_Account_Number VARCHAR(19));

''')
conn.commit()

In [ ]:
def insert_BANK_ACCOUNT_RELATIONSHIP (customer_id,account_number,account_type,linking_account_number):
  cursor.execute("INSERT INTO BANK_ACCOUNT_RELATIONSHIP(customer_id,Account_number,Account_type,linking_account_number) VALUES (?,?,?,?)",(customer_id,account_number,account_type,linking_account_number))
  conn.commit()
#insertion
insert_BANK_ACCOUNT_RELATIONSHIP (123001, "4000-1956-3456",  "SAVINGS" , "");
insert_BANK_ACCOUNT_RELATIONSHIP (123001, "5000-1700-3456",  "RECURRING DEPOSITS" , "4000-1956-3456");
insert_BANK_ACCOUNT_RELATIONSHIP (123002, "4000-1956-2001",  "SAVINGS" , "" );
insert_BANK_ACCOUNT_RELATIONSHIP (123002, "5000-1700-5001",  "RECURRING DEPOSITS" , "4000-1956-2001" );
insert_BANK_ACCOUNT_RELATIONSHIP (123003, "4000-1956-2900",  "SAVINGS" , "" );
insert_BANK_ACCOUNT_RELATIONSHIP (123004, "5000-1700-6091",  "RECURRING DEPOSITS" , "4000-1956-2900" );
insert_BANK_ACCOUNT_RELATIONSHIP (123004, "5000-1700-7791",  "RECURRING DEPOSITS" , "4000-1956-2900" );
insert_BANK_ACCOUNT_RELATIONSHIP (123007, "5000-1700-9800",  "SAVINGS" , "" );
insert_BANK_ACCOUNT_RELATIONSHIP (123007, "4000-1956-9977",  "RECURRING DEPOSITS" , "5000-1700-9800" );
insert_BANK_ACCOUNT_RELATIONSHIP (0, "9000-1700-7777-4321",  "Credit Card" , "5000-1700-9800" );
insert_BANK_ACCOUNT_RELATIONSHIP (0, '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' );
insert_BANK_ACCOUNT_RELATIONSHIP (0, '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' );
insert_BANK_ACCOUNT_RELATIONSHIP (0, '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' );

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_ACCOUNT_RELATIONSHIP")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
|   Customer_id | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|             0 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|             0 | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
|             0 | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
|             0 | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

BANK_ACCOUNT_TRANSACTION

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACCOUNT_TRANSACTION (
              	Account_Number VARCHAR(19),
              	Transaction_amount Decimal(18,2) ,
              	Transcation_channel VARCHAR(18) ,
             	  Province varchar(3) ,
             	  Transaction_Date Date) ;

''')
conn.commit()

In [ ]:
def insert_BANK_ACCOUNT_TRANSACTION (account_number,transaction_amount,transaction_channel,province,transaction_date):
  cursor.execute("INSERT INTO BANK_ACCOUNT_TRANSACTION(account_number,transaction_amount,transaction_channel,province,transaction_date) VALUES (?,?,?,?,?)",(account_number,transaction_amount,transaction_channel,province,transaction_channel))
  conn.commit()
#insertion
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-3456",  -2000, "ATM withdrawl" , "CA", "2020-01-13");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -4000, "POS-Walmart"   , "MN", "2020-02-14");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -1600, "UPI transfer"  , "MN", "2020-01-19");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -6000, "Bankers cheque", "CA", "2020-03-23");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -3000, "Net banking"   , "CA", "2020-04-24");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  23000, "cheque deposit", "MN", "2020-03-15");
insert_BANK_ACCOUNT_TRANSACTION  ( "5000-1700-6091",  40000, "ECS transfer"  , "NY", "2020-02-19");
insert_BANK_ACCOUNT_TRANSACTION  ( "5000-1700-7791",  40000, "ECS transfer"  , "NY", "2020-02-19");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-3401",   8000, "Cash Deposit"  , "NY", "2020-01-19");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-5102",  -6500, "ATM withdrawal" , "NY", "2020-03-14");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-5698",  -9000, "Cash Deposit"  , "NY", "2020-03-27");
insert_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-9977",  50000, "ECS transfer"  , "NY", "2020-01-16");
insert_BANK_ACCOUNT_TRANSACTION  ( "9000-1700-7777-4321",  -5000, "POS-Walmart", "NY", "2020-02-17");
insert_BANK_ACCOUNT_TRANSACTION  ( "9000-1700-7777-4321",  -8000, "Shopping Cart", "MN", "2020-03-13");
insert_BANK_ACCOUNT_TRANSACTION  ( "9000-1700-7777-4321",  -2500, "Shopping Cart", "MN", "2020-04-21");
insert_BANK_ACCOUNT_TRANSACTION  ( "5800-1700-9800-7755", -9000, "POS-Walmart","MN", "2020-04-13");
insert_BANK_ACCOUNT_TRANSACTION  ( '5890-1970-7706-8912', -11000, "Shopping Cart" , "NY" , "2020-03-12") ;
insert_BANK_ACCOUNT_TRANSACTION  ('4000-1956-9977', 10000.00, 'ESC transfer', 'MN', '2020-02-16');
# inserted for queries after 17th
insert_BANK_ACCOUNT_TRANSACTION  ('4000-1956-9977' ,    40000.00     ,'ECS transfer',     'MN' ,    '2020-03-18' ) ;

insert_BANK_ACCOUNT_TRANSACTION  ('4000-1956-9977' ,    60000.00     ,'ECS transfer',     'MN' ,    '2020-04-18' ) ;

insert_BANK_ACCOUNT_TRANSACTION  ('4000-1956-9977' ,    20000.00     ,'ECS transfer',     'MN' ,    '2020-03-20' ) ;
#inserted for queries after 24th
insert_BANK_ACCOUNT_TRANSACTION  ('4000-1956-9977' ,    49000.00     ,'ECS transfer',     'MN' ,    '2020-06-18' ) ;

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_ACCOUNT_TRANSACTION")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| Account_Number      |   Transaction_amount | Transaction_channel   | Province   | Transaction_Date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawal        | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | Cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | ATM withdrawl      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | UPI transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | Bankers cheque     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | Net banking        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | cheque deposit     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | Cash Deposit       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | ATM withdrawal     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | Cash Deposit       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | ATM withdrawl      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | UPI transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | Bankers cheque     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | Net banking        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | cheque deposit     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | Cash Deposit       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | ATM withdrawal     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | Cash Deposit       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                10000 | ESC transfer          | MN         | ESC transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | ATM withdrawl      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | UPI transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | Bankers cheque     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | Net banking        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | cheque deposit     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | Cash Deposit       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | ATM withdrawal     |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | Cash Deposit       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | POS-Walmart        |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | Shopping Cart      |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                10000 | ESC transfer          | MN         | ESC transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                40000 | ECS transfer          | MN         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                60000 | ECS transfer          | MN         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                20000 | ECS transfer          | MN         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                49000 | ECS transfer          | MN         | ECS transfer       |
+---------------------+----------------------+-----------------------+------------+--------------------+

BANK_CUSTOMER_MESSAGES

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER_MESSAGES (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;

''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMER_MESSAGES (event,customer_message,notice_delivery_mode):
  cursor.execute("INSERT INTO BANK_CUSTOMER_MESSAGES(event,customer_message,notice_delivery_mode) VALUES (?,?,?)",(event,customer_message,notice_delivery_mode))
  conn.commit()
#insertion
insert_BANK_CUSTOMER_MESSAGES ( "Adhoc", "All Banks are closed due to announcement of National strike", "mobile" ) ;
insert_BANK_CUSTOMER_MESSAGES ( "Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile" );

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMER_MESSAGES")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+-------------------+-----------------------------------------------------------------+------------------------+
| Event             | Customer_message                                                | Notice_delivery_mode   |
+===================+=================================================================+========================+
| Adhoc             | All Banks are closed due to announcement of National strike     | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Transaction Limit | Only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Adhoc             | All Banks are closed due to announcement of National strike     | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Transaction Limit | Only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+

BANK_INTEREST_RATE

In [ ]:
cursor.execute('''
CREATE TABLE BANK_INTEREST_RATE(
            	account_type varchar(24),
              	interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4)
             	);

''')
conn.commit()

In [ ]:
def insert_BANK_INTEREST_RATE(account_type,interest_rate,month,year):
  cursor.execute("INSERT INTO BANK_INTEREST_RATE(account_type,interest_rate,month,year) VALUES (?,?,?,?)",(account_type,interest_rate,month,year))
  conn.commit()
#insertion
insert_BANK_INTEREST_RATE ( "SAVINGS" , 0.04 , '02' , '2020' );
insert_BANK_INTEREST_RATE ( "RECURRING DEPOSITS" , 0.07, '02' , '2020' );
insert_BANK_INTEREST_RATE ( "PRIVILEGED_INTEREST_RATE" , 0.08 , '02' , '2020' )

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_INTEREST_RATE")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+--------------------------+-----------------+---------+--------+
| account_type             |   interest_rate |   month |   year |
+==========================+=================+=========+========+
| SAVINGS                  |            0.04 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |            0.07 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |            0.08 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| SAVINGS                  |            0.04 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |            0.07 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |            0.08 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+

# Questions

In [ ]:
#1. print customer id,customer name and average account_balance maintained by each customer for all of his/her accounts in the bank (8 rows)?
cursor.execute('''
CREATE TABLE BANK_Detail(customer_id INT,
                         customer_name VARCHAR(30),
                         average_account_balance decimal(4,2));

''')
conn.commit()

In [ ]:
def insert_BANK_Detail(customer_id,customer_name,average_account_balance):
  cursor.execute("INSERT INTO BANK_Detail(customer_id,customer_name,average_account_balance) VALUES (?,?,?)",(customer_id,customer_name,average_account_balance))
  conn.commit()

#insertion
insert_BANK_Detail (111,'hajira',5000.00);
insert_BANK_Detail (112,'ameer',7000.00);
insert_BANK_Detail(113,'arshiya',6000.00);
insert_BANK_Detail(114,'asra',8000.00);
insert_BANK_Detail(115,'asma',4000.00);
insert_BANK_Detail (116,'salma',3000.00);
insert_BANK_Detail (117,'jaheer',2000.00);
insert_BANK_Detail (118,'javeed',1000.00);

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_Detail")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+---------------------------+
|   customer_id | customer_name   |   average_account_balance |
+===============+=================+===========================+
|           111 | hajira          |                      5000 |
+---------------+-----------------+---------------------------+
|           112 | ameer           |                      7000 |
+---------------+-----------------+---------------------------+
|           113 | arshiya         |                      6000 |
+---------------+-----------------+---------------------------+
|           114 | asra            |                      8000 |
+---------------+-----------------+---------------------------+
|           115 | asma            |                      4000 |
+---------------+-----------------+---------------------------+
|           116 | salma           |                      3000 |
+---------------+-----------------+---------------------------+
|           117 | jaheer          |                      2000 |
+---------------+-----------------+---------------------------+
|           118 | javeed          |                      1000 |
+---------------+-----------------+---------------------------+

In [ ]:
#2. Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)
cursor.execute('''
CREATE TABLE TRANSACTION_AMOUNTS(customer_id INT,
                                account_number VARCHAR(50),
                                balance_amount INT,
                                account_type VARCHAR(30),
                                transaction_amount decimal(4,2));

''')
conn.commit()

In [ ]:
def insert_TRANSACTION_AMOUNTS(customer_id,account_number,balance_amount,transaction_amount,account_type):
    cursor.execute("INSERT INTO TRANSACTION_AMOUNTS(customer_id,account_number,balance_amount,account_type,transaction_amount) VALUES (?,?,?,?,?)", (customer_id,account_number,balance_amount,account_type,transaction_amount))
    conn.commit()

    #insertion
insert_TRANSACTION_AMOUNTS (101,"0004-4040",5000,"SAVINGS",-2000);
insert_TRANSACTION_AMOUNTS (102,"0054-0006",4000, "CA",-1000);
insert_TRANSACTION_AMOUNTS(103,"4567-0007",6000,"CREDIT",-3000);
insert_TRANSACTION_AMOUNTS(104,"1234-5678",3000,"SAVINGS",-1000);

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM TRANSACTION_AMOUNTS")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+------------------+------------------+----------------+----------------------+
|   customer_id | account_number   |   balance_amount |   account_type | transaction_amount   |
+===============+==================+==================+================+======================+
|           101 | 0004-4040        |             5000 |          -2000 | SAVINGS              |
+---------------+------------------+------------------+----------------+----------------------+
|           102 | 0054-0006        |             4000 |          -1000 | CA                   |
+---------------+------------------+------------------+----------------+----------------------+
|           103 | 4567-0007        |             6000 |          -3000 | CREDIT               |
+---------------+------------------+------------------+----------------+----------------------+
|           104 | 1234-5678        |             3000 |          -1000 | SAVINGS              |
+---------------+------------------+------------------+----------------+----------------------+

In [ ]:
import sqlite3
import pandas as pd

# 1) Connect (change ":memory:" to "bank.db" if you want a file)
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

In [ ]:
#3. Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

cursor.execute('''
CREATE TABLE Banked_Accountent_Detail (
    account_number VARCHAR(20),
    account_type VARCHAR(30),
    balance_amount INT
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE banked_accountent_transaction (
    transaction_id INTEGER PRIMARY KEY AUTOINCREMENT,
    account_number VARCHAR(20),
    transaction_amount INT,
    Transaction_Date VARCHAR(30),
    FOREIGN KEY(account_number) REFERENCES Bank_Account_Details(account_number)
);
''')
conn.commit()

In [ ]:
accounts = [
    (1001, 'SAVINGS', 25000),
    (1002, 'SAVINGS', 30000),
    (1003, 'CURRENT', 18000),
    (1004, 'SAVINGS', 22000),
    (1005, 'CURRENT', 27000),
    (1006, 'SAVINGS', 15000),
]
cursor.executemany("INSERT INTO Banked_Accountent_Detail(account_number, account_type, balance_amount) VALUES (?, ?, ?);", accounts)

transactions = [
    (1001,  5000, '2020-03-05'),
    (1002,  2000, '2020-03-07'),
    (1003,  1500, '2020-03-12'),
    (1004,  3000, '2020-03-15'),
    (1005,  1200, '2020-03-20'),
    (1006,  2500, '2020-03-28'),
    (1001,  1000, '2020-04-02'),
    (1002,  2200, '2020-04-05'),
    (1003,   800, '2020-04-10'),
    (1004,  4500, '2020-04-18'),
    (1005,  1600, '2020-04-22'),
    (1006,  1800, '2020-04-29'),
]
cursor.executemany("INSERT INTO banked_accountent_transaction(account_number, transaction_amount, Transaction_Date) VALUES (?, ?, ?);", transactions)
conn.commit()

In [ ]:
query = """
SELECT
    b.account_number,
    b.balance_amount,
    t.transaction_amount,
    t.Transaction_Date
FROM Banked_Accountent_Detail b
JOIN banked_accountent_transaction t
    ON b.account_number = t.account_number
WHERE t.Transaction_Date BETWEEN '2020-03-01' AND '2020-04-30'
ORDER BY t.Transaction_Date, b.account_number;
"""
df = pd.read_sql_query(query, conn)
print(df)

   account_number  balance_amount  transaction_amount Transaction_Date
0            1001           25000                5000       2020-03-05
1            1002           30000                2000       2020-03-07
2            1003           18000                1500       2020-03-12
3            1004           22000                3000       2020-03-15
4            1005           27000                1200       2020-03-20
5            1006           15000                2500       2020-03-28
6            1001           25000                1000       2020-04-02
7            1002           30000                2200       2020-04-05
8            1003           18000                 800       2020-04-10
9            1004           22000                4500       2020-04-18
10           1005           27000                1600       2020-04-22
11           1006           15000                1800       2020-04-29

In [ ]:
# 4. Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)
conn.execute('''
CREATE TABLE banked_customer (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(20)
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE Banked_Accounts_Details (
    account_number VARCHAR(20),
    customer_id INT,
    balance_amount INT,
    FOREIGN KEY(customer_id) REFERENCES bank_customer(customer_id)
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE banked_account_transaction (
    transaction_id INT,
    account_number VARCHAR(20),
    transaction_amount INT,
    transaction_date VARCHAR(20),
    FOREIGN KEY(account_number) REFERENCES Bank_Account_Details(account_number)
);
''')
conn.commit()

In [ ]:
cursor.executemany("INSERT INTO banked_customer VALUES (?, ?)", [
    ("C001", "Alice"),
    ("C002", "Bob"),
    ("C003", "Charlie"),
    ("C004", "David"),
    ("C005", "Emma")
])
cursor.executemany("INSERT INTO Banked_Accounts_Details VALUES (?, ?, ?)", [
    ("A101", "C001", 5000),
    ("A102", "C002", 7000),
    ("A103", "C003", 10000),
    ("A104", "C004", 8500),
    ("A105", "C005", 12000)
])
cursor.executemany("""
INSERT INTO banked_account_transaction (account_number, transaction_amount, transaction_date)
VALUES (?, ?, ?)
""", [
    ("A101", 200, "2020-02-10"),
    ("A101", 300, "2020-03-05"),   # March  exclude
    ("A101", 150, "2020-04-15"),
    ("A102", 500, "2020-01-12"),
    ("A102", 250, "2020-03-22"),   # March  exclude
    ("A102", 100, "2020-05-11"),
    ("A103", 1000, "2020-02-20"),
    ("A103", 400, "2020-03-10"),   # March  exclude
    ("A103", 600, "2020-04-18"),
    ("A103", 200, "2020-06-05"),
    ("A104", 600, "2020-02-25"),
    ("A104", 350, "2020-04-22"),
    ("A104", 220, "2020-05-25"),
    ("A105", 1200, "2020-01-10"),
    ("A105", 900, "2020-03-28"),   # March  exclude
    ("A105", 500, "2020-04-12"),
    ("A105", 700, "2020-05-20"),
    ("A105", 300, "2020-06-30"),
    ("A101", 220, "2020-05-10"),
    ("A102", 330, "2020-04-25"),
    ("A103", 450, "2020-05-30"),
    ("A104", 800, "2020-06-18"),
    ("A105", 400, "2020-07-01")
])
conn.commit()

In [ ]:
query = """
SELECT
    c.customer_id,
    b.account_number,
    b.balance_amount,
    t.transaction_amount,
    t.transaction_date
FROM
    banked_customer c
JOIN
    Banked_Accounts_Details b
ON
    c.customer_id = b.customer_id
JOIN
    banked_account_transaction t
ON
    b.account_number = t.account_number
WHERE
    strftime('%Y-%m', t.transaction_date) != '2020-03';
"""

df = pd.read_sql_query(query, conn)

# 7. Display result
print(df.shape[0], "Rows returned")
df

19 Rows returned

,customer_id,account_number,balance_amount,transaction_amount,transaction_date
0,C001,A101,5000,150,2020-04-15
1,C001,A101,5000,200,2020-02-10
2,C001,A101,5000,220,2020-05-10
3,C002,A102,7000,100,2020-05-11
4,C002,A102,7000,330,2020-04-25
5,C002,A102,7000,500,2020-01-12
6,C003,A103,10000,200,2020-06-05
7,C003,A103,10000,450,2020-05-30
8,C003,A103,10000,600,2020-04-18
9,C003,A103,10000,1000,2020-02-20
10,C004,A104,8500,220,2020-05-25
11,C004,A104,8500,350,2020-04-22
12,C004,A104,8500,600,2020-02-25
13,C004,A104,8500,800,2020-06-18
14,C005,A105,12000,300,2020-06-30
15,C005,A105,12000,400,2020-07-01
16,C005,A105,12000,500,2020-04-12
17,C005,A105,12000,700,2020-05-20
18,C005,A105,12000,1200,2020-01-10

In [ ]:
# 5. Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)
cursor.execute('''
CREATE TABLE banked_customers (
    customer_id INT,
    customer_name VARCHAR(20)
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE Banked_Account_Details (
    account_number VARCHAR(20),
    customer_id INT,
    balance_amount INT,
    FOREIGN KEY(customer_id) REFERENCES bank_customer(customer_id)
);
''')
conn.commit()

In [ ]:
conn.execute('''
CREATE TABLE banked_accounts_transaction (
    transaction_id INT,
    account_number VARCHAR(20),
    transaction_amount INT,
    transaction_date VARCHAR(20),
    FOREIGN KEY(account_number) REFERENCES Bank_Account_Details(account_number)
);
''')
conn.commit()

In [ ]:
cursor.executemany("INSERT INTO banked_customers VALUES (?, ?)", [
    ("C001", "Alice"),
    ("C002", "Bob"),
    ("C003", "Charlie"),
    ("C004", "David"),
    ("C005", "Emma")
])
cursor.executemany("INSERT INTO Banked_Account_Details VALUES (?, ?, ?)", [
    ("A101", "C001", 5000),
    ("A102", "C002", 7000),
    ("A103", "C003", 10000),
    ("A104", "C004", 8500),
    ("A105", "C005", 12000)
])
cursor.executemany("""
INSERT INTO banked_accounts_transaction (account_number, transaction_amount, transaction_date)
VALUES (?, ?, ?)
""", [
    ("A101", 200, "2020-01-15"),
    ("A101", 300, "2020-03-05"),
    ("A101", 150, "2020-04-15"),
    ("A102", 500, "2020-01-12"),
    ("A102", 250, "2020-03-22"),
    ("A102", 100, "2020-05-11"),
    ("A103", 1000, "2020-02-20"),
    ("A103", 400, "2020-03-10"),
    ("A103", 600, "2020-04-18"),
    ("A103", 200, "2020-06-05"),
    ("A104", 600, "2020-02-25"),
    ("A104", 350, "2020-04-22"),
    ("A104", 220, "2020-05-25"),
    ("A105", 1200, "2020-01-10"),
    ("A105", 900, "2020-03-28"),
    ("A105", 500, "2020-04-12"),
    ("A105", 700, "2020-05-20")
])
conn.commit()

In [ ]:
query = """
SELECT
    c.customer_id,
    b.account_number,
    b.balance_amount,
    t.transaction_amount,
    t.transaction_date
FROM
    banked_customers c
JOIN
    Banked_Account_Details b
ON
    c.customer_id = b.customer_id
JOIN
    banked_accounts_transaction t
ON
    b.account_number = t.account_number
WHERE
    strftime('%Y-%m', t.transaction_date) IN ('2020-01', '2020-02', '2020-03');
"""

df = pd.read_sql_query(query, conn)

# 7. Display result
print(df.shape[0], "Rows returned")
df

9 Rows returned

,customer_id,account_number,balance_amount,transaction_amount,transaction_date
0,C001,A101,5000,200,2020-01-15
1,C001,A101,5000,300,2020-03-05
2,C002,A102,7000,500,2020-01-12
3,C002,A102,7000,250,2020-03-22
4,C003,A103,10000,1000,2020-02-20
5,C003,A103,10000,400,2020-03-10
6,C004,A104,8500,600,2020-02-25
7,C005,A105,12000,1200,2020-01-10
8,C005,A105,12000,900,2020-03-28

In [ ]:
# 6. Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an Adhoc" Event for all customers who have  SAVINGS" account_type account.(8 Rows)
cursor.execute('''
CREATE TABLE Banked_Accountent_Details (
    account_number VARCHAR(20),
    customer_id INT,
    account_type VARCHAR(20),
    balance_amount INT
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE BANKED_CUSTOMER_MESSAGES (
    message_id INT,
    customer_id INT,
    customer_message VARCHAR(20)
);
''')
conn.commit()

In [ ]:
cursor.executemany("INSERT INTO Banked_Accountent_Details VALUES (?, ?, ?, ?)", [
    ("A101", "C001", "SAVINGS", 5000),
    ("A102", "C002", "CURRENT", 7000),
    ("A103", "C003", "SAVINGS", 10000),
    ("A104", "C004", "SAVINGS", 8500),
    ("A105", "C005", "CURRENT", 12000),
    ("A106", "C006", "SAVINGS", 6000),
    ("A107", "C007", "SAVINGS", 7500),
    ("A108", "C008", "SAVINGS", 9000)
])

cursor.executemany("INSERT INTO BANKED_CUSTOMER_MESSAGES (customer_id, customer_message) VALUES (?, ?)", [
    ("C001", "Message 1"),
    ("C002", "Message 2"),
    ("C003", "Message 3"),
    ("C004", "Message 4"),
    ("C005", "Message 5"),
    ("C006", "Message 6"),
    ("C007", "Message 7"),
    ("C008", "Message 8")
])
conn.commit()

In [ ]:
query = """
SELECT
    b.account_number,
    'Adhoc' AS Event,
    m.customer_message
FROM
    Banked_Accountent_Details b
JOIN
    BANKED_CUSTOMER_MESSAGES m
ON
    b.customer_id = m.customer_id
WHERE
    b.account_type = 'SAVINGS';
"""

df = pd.read_sql_query(query, conn)

# 6. Display result
print(df.shape[0], "Rows returned")
df

6 Rows returned

  account_number  Event customer_message
0           A101  Adhoc        Message 1
1           A103  Adhoc        Message 3
2           A104  Adhoc        Message 4
3           A106  Adhoc        Message 6
4           A107  Adhoc        Message 7
5           A108  Adhoc        Message 8

In [ ]:
# 7. Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)
cursor.execute('''
CREATE TABLE Banked_Account_information (
    account_number VARCHAR(20),
    customer_id INT,
    account_type VARCHAR(20),
    balance_amount INT,
    relationship_type VARCHAR(20)
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE banked_accounts_transactions (
    transaction_id INT,
    account_number VARCHAR(20),
    transaction_amount INT,
    transaction_date VARCHAR(20)
);
''')
conn.commit()

In [ ]:
conn.executemany("INSERT INTO Banked_Account_information VALUES (?, ?, ?, ?, ?)", [
    ("A101", "C001", "SAVINGS", 5000, "P"),
    ("A102", "C002", "CURRENT", 7000, "S"),
    ("A103", "C003", "SAVINGS", 10000, "P"),
    ("A104", "C004", "CURRENT", 8500, "P"),
    ("A105", "C005", "SAVINGS", 12000, "S"),
    ("A106", "C006", "SAVINGS", 6000, "P"),
    ("A107", "C007", "CURRENT", 7500, "P"),
    ("A108", "C008", "SAVINGS", 9000, "S")
])
conn.executemany("""
INSERT INTO banked_accounts_transactions (account_number, transaction_amount, transaction_date)
VALUES (?, ?, ?)
""", [
    ("A101", -200, "2020-01-15"),
    ("A101", 300, "2020-03-05"),
    ("A103", -500, "2020-02-20"),
    ("A103", -400, "2020-03-10"),
    ("A104", -600, "2020-02-25"),
    ("A104", 350, "2020-04-22"),
    ("A106", -150, "2020-01-10"),
    ("A106", 400, "2020-04-12"),
    ("A107", -700, "2020-05-20"),
    ("A107", 200, "2020-06-30")
])
conn.commit()

In [ ]:
query = """
SELECT
    b.customer_id,
    b.account_number,
    b.account_type,
    b.balance_amount - IFNULL(SUM(CASE WHEN t.transaction_amount < 0 THEN ABS(t.transaction_amount) ELSE 0 END),0) AS deducted_balance
FROM
    Banked_Account_information b
LEFT JOIN
    banked_accounts_transaction t
ON
    b.account_number = t.account_number
WHERE
    b.relationship_type = 'P'
GROUP BY
    b.customer_id, b.account_number, b.account_type, b.balance_amount
ORDER BY
    b.customer_id;
"""

df = pd.read_sql_query(query, conn)

# 6. Display result
print(df.shape[0], "Rows returned")
df

5 Rows returned

  customer_id account_number account_type  deducted_balance
0        C001           A101      SAVINGS              5000
1        C003           A103      SAVINGS             10000
2        C004           A104      CURRENT              8500
3        C006           A106      SAVINGS              6000
4        C007           A107      CURRENT              7500

In [ ]:
#Question 8:
# a) Display records of All Accounts , their Account_types, the transaction amount.
# b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)
cursor.execute('''
CREATE TABLE Banked_Account_Detail (
    account_number VARCHAR(20),
    customer_id INT,
    account_type VARCHAR(20),
    balance_amount INT
);
''')
conn.commit()

In [ ]:
conn.execute('''
CREATE TABLE banked_accountent_transactions (
    transaction_id INT,
    account_number VARCHAR(20),
    transaction_amount INT,
    transaction_date VARCHAR(20),
    FOREIGN KEY(account_number) REFERENCES Bank_Account_Details(account_number)
);
''')
conn.commit()

In [ ]:
conn.executemany("INSERT INTO Banked_Account_Detail VALUES (?, ?, ?, ?)", [
    ("A101", "C001", "SAVINGS", 5000),
    ("A102", "C002", "CURRENT", 7000),
    ("A103", "C003", "SAVINGS", 10000),
    ("A104", "C004", "CURRENT", 8500),
    ("A105", "C005", "SAVINGS", 12000)
])
conn.executemany("""
INSERT INTO banked_accountent_transactions (account_number, transaction_amount, transaction_date)
VALUES (?, ?, ?)
""", [
    ("A101", 200, "2020-01-15"),
    ("A101", 300, "2020-03-05"),
    ("A102", 500, "2020-01-12"),
    ("A102", 250, "2020-03-22"),
    ("A103", 1000, "2020-02-20"),
    ("A103", 400, "2020-03-10"),
    ("A104", 600, "2020-02-25"),
    ("A104", 350, "2020-04-22"),
    ("A105", 1200, "2020-01-10"),
    ("A105", 900, "2020-03-28"),
    ("A101", 220, "2020-05-10"),
    ("A102", 330, "2020-04-25"),
    ("A103", 450, "2020-05-30"),
    ("A104", 800, "2020-06-18"),
    ("A105", 400, "2020-07-01")
])
conn.commit()

In [ ]:
query_a = """
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount
FROM Banked_Account_Detail b
JOIN banked_accountent_transactions t
ON b.account_number = t.account_number;
"""

df_a = pd.read_sql_query(query_a, conn)
print("Step a) Accounts with transaction amounts:")
df_a

# ==============================
# Step b) Display other columns with linking account numbers
# ==============================
# Here, we join accounts to transactions and show additional info
query_b = """
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount,
    t.transaction_date,
    b.balance_amount
FROM Banked_Account_Detail b
JOIN banked_accountent_transactions t
ON b.account_number = t.account_number
ORDER BY b.account_number, t.transaction_date;
"""

df_b = pd.read_sql_query(query_b, conn)
print("\nStep b) Accounts with transactions and additional info:")
df_b

Step a) Accounts with transaction amounts:

Step b) Accounts with transactions and additional info:

,account_number,account_type,transaction_amount,transaction_date,balance_amount
0,A101,SAVINGS,200,2020-01-15,5000
1,A101,SAVINGS,300,2020-03-05,5000
2,A101,SAVINGS,220,2020-05-10,5000
3,A102,CURRENT,500,2020-01-12,7000
4,A102,CURRENT,250,2020-03-22,7000
5,A102,CURRENT,330,2020-04-25,7000
6,A103,SAVINGS,1000,2020-02-20,10000
7,A103,SAVINGS,400,2020-03-10,10000
8,A103,SAVINGS,450,2020-05-30,10000
9,A104,CURRENT,600,2020-02-25,8500
10,A104,CURRENT,350,2020-04-22,8500
11,A104,CURRENT,800,2020-06-18,8500
12,A105,SAVINGS,1200,2020-01-10,12000
13,A105,SAVINGS,900,2020-03-28,12000
14,A105,SAVINGS,400,2020-07-01,12000

In [ ]:
# Question 9:
# a) Display records of All Accounts , their Account_types, the transaction amount.
# b) Along with first step, Display other columns with corresponding linking account number, account types
# c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)
cursor.execute('''
CREATE TABLE Banked_Accountent_information (
    account_number VARCHAR(20),
    customer_id INT,
    account_type VARCHAR(20),
    balance_amount INT
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE banked_account_transactions (
    transaction_id INT,
    account_number VARCHAR(20),
    transaction_amount INT,
    transaction_date VARCHAR(20),
    FOREIGN KEY(account_number) REFERENCES Bank_Account_Details(account_number)
);
''')
conn.commit()

In [ ]:
cursor.executemany("INSERT INTO Banked_Accountent_information VALUES (?, ?, ?, ?)", [
    ("A101", "C001", "SAVINGS", 5000),
    ("A102", "C002", "CURRENT", 7000),
    ("A103", "C003", "SAVINGS", 10000),
    ("A104", "C004", "CURRENT", 8500),
    ("A105", "C005", "SAVINGS", 12000),
    ("A106", "C006", "CURRENT", 6000),
    ("A107", "C007", "SAVINGS", 7500)
])
cursor.executemany("""
INSERT INTO banked_account_transactions (account_number, transaction_amount, transaction_date)
VALUES (?, ?, ?)
""", [
    ("A101", 200, "2020-01-15"),
    ("A101", 300, "2020-03-05"),
    ("A102", 500, "2020-01-12"),
    ("A102", 250, "2020-03-22"),
    ("A103", 1000, "2020-02-20"),
    ("A103", 400, "2020-03-10"),
    ("A104", 600, "2020-02-25"),
    ("A104", 350, "2020-04-22"),
    ("A105", 1200, "2020-01-10"),
    ("A105", 900, "2020-03-28"),
    ("A106", 700, "2020-05-20"),
    ("A106", 300, "2020-06-30"),
    ("A107", 450, "2020-05-30"),
    ("A107", 200, "2020-06-15"),
    ("A101", 220, "2020-05-10"),
    ("A102", 330, "2020-04-25"),
    ("A103", 150, "2020-04-18"),
    ("A104", 500, "2020-06-05"),
    ("A105", 400, "2020-07-01"),
    ("A106", 250, "2020-07-15"),
    ("A107", 350, "2020-07-20")
])
conn.commit()

In [ ]:
query_a = """
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount
FROM Banked_Accountent_information b
JOIN banked_account_transactions t
ON b.account_number = t.account_number;
"""
df_a = pd.read_sql_query(query_a, conn)
print("Step a) Accounts with transaction amounts:")
df_a

# ==============================
# Step b) Add additional columns (balance_amount, transaction_date)
# ==============================
query_b = """
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount,
    t.transaction_date,
    b.balance_amount
FROM Banked_Accountent_information b
JOIN banked_account_transactions t
ON b.account_number = t.account_number
ORDER BY b.account_number, t.transaction_date;
"""
df_b = pd.read_sql_query(query_b, conn)
print("\nStep b) Accounts with transactions and additional info:")
df_b

# ==============================
# Step c) Show transaction_amount of linked accounts in another column
# ==============================
# Self-join transactions to get linked transactions
query_c = """
SELECT
    t1.account_number AS account_number,
    b.account_type AS account_type,
    t1.transaction_amount AS transaction_amount,
    t2.transaction_amount AS linked_transaction_amount,
    t1.transaction_date,
    b.balance_amount
FROM banked_account_transactions t1
JOIN Banked_Accountent_information b
ON t1.account_number = b.account_number
LEFT JOIN banked_account_transactions t2
ON t1.account_number = t2.account_number
AND t1.transaction_id != t2.transaction_id
ORDER BY t1.account_number, t1.transaction_id;
"""
df_c = pd.read_sql_query(query_c, conn)
print("\nStep c) Accounts with linked transaction amounts:")
df_c

Step a) Accounts with transaction amounts:

Step b) Accounts with transactions and additional info:

Step c) Accounts with linked transaction amounts:

,account_number,account_type,transaction_amount,linked_transaction_amount,transaction_date,balance_amount
0,A101,SAVINGS,200,None,2020-01-15,5000
1,A101,SAVINGS,300,None,2020-03-05,5000
2,A101,SAVINGS,220,None,2020-05-10,5000
3,A102,CURRENT,500,None,2020-01-12,7000
4,A102,CURRENT,250,None,2020-03-22,7000
5,A102,CURRENT,330,None,2020-04-25,7000
6,A103,SAVINGS,1000,None,2020-02-20,10000
7,A103,SAVINGS,400,None,2020-03-10,10000
8,A103,SAVINGS,150,None,2020-04-18,10000
9,A104,CURRENT,600,None,2020-02-25,8500
10,A104,CURRENT,350,None,2020-04-22,8500
11,A104,CURRENT,500,None,2020-06-05,8500
12,A105,SAVINGS,1200,None,2020-01-10,12000
13,A105,SAVINGS,900,None,2020-03-28,12000
14,A105,SAVINGS,400,None,2020-07-01,12000
15,A106,CURRENT,700,None,2020-05-20,6000
16,A106,CURRENT,300,None,2020-06-30,6000
17,A106,CURRENT,250,None,2020-07-15,6000
18,A107,SAVINGS,450,None,2020-05-30,7500
19,A107,SAVINGS,200,None,2020-06-15,7500
20,A107,SAVINGS,350,None,2020-07-20,7500

In [ ]:
# Question 10:
# 10) Display all saving account holders have Add-on Credit Cards" and Credit cards" (3 Rows)
cursor.execute('''
CREATE TABLE Banks_Accountent_Details (
    account_number VARCHAR(20),
    customer_id INT,
    account_type VARCHAR(20),
    balance_amount INT
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Customer_Cards (
    card_id INT,
    customer_id INT,
    card_type VARCHAR(20)
);
''')
conn.commit()

In [ ]:
cursor.executemany("INSERT INTO Banks_Accountent_Details VALUES (?, ?, ?, ?)", [
    ("A101", "C001", "SAVINGS", 5000),
    ("A102", "C002", "SAVINGS", 7000),
    ("A103", "C003", "SAVINGS", 10000),
    ("A104", "C004", "CURRENT", 8500),
    ("A105", "C005", "SAVINGS", 12000)
])
cursor.executemany("INSERT INTO Bank_Customer_Cards (customer_id, card_type) VALUES (?, ?)", [
    ("C001", "Add-on Credit Card"),
    ("C001", "Credit Card"),
    ("C002", "Credit Card"),
    ("C003", "Add-on Credit Card"),
    ("C003", "Credit Card"),
    ("C004", "Credit Card"),
    ("C005", "Add-on Credit Card"),
    ("C005", "Credit Card")
])
conn.commit()

In [ ]:
query = """
SELECT DISTINCT b.customer_id, b.account_number, b.account_type
FROM Banks_Accountent_Details b
JOIN Bank_Customer_Cards c1
ON b.customer_id = c1.customer_id AND c1.card_type = 'Add-on Credit Card'
JOIN Bank_Customer_Cards c2
ON b.customer_id = c2.customer_id AND c2.card_type = 'Credit Card'
WHERE b.account_type = 'SAVINGS';
"""

df = pd.read_sql_query(query, conn)

# 6. Display result
print(df.shape[0], "Rows returned")
df

3 Rows returned

  customer_id account_number account_type
0        C001           A101      SAVINGS
1        C003           A103      SAVINGS
2        C005           A105      SAVINGS

In [ ]:
# 11)  Display  records of SAVINGS account linked with Credit cards" account_type and its credit
# aggregate sum of transaction amount. (1 Row)
# Ref: Check linking relationship in bank_transaction_relationship_details.
        # Check transaction_amount in bank_account_transaction.
cursor.execute('''
CREATE TABLE Banked_Accounts_informations (
    account_number VARCHAR(20),
    customer_id INT,
    account_type VARCHAR(20),
    balance_amount INT
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE banked_account_transactioned (
    transaction_id INT,
    account_number VARCHAR(20),
    transaction_amount INT,
    transaction_date VARCHAR(20)
);
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE TABLE bank_transaction_relationship_details (
    primary_account_number VARCHAR(20),
    linked_account_number VARCHAR(20)
);
''')
conn.commit()

In [ ]:
cursor.executemany("INSERT INTO Banked_Accounts_informations VALUES (?, ?, ?, ?)", [
    ("A101", "C001", "SAVINGS", 5000),
    ("A102", "C002", "CREDIT CARD", 7000),
    ("A103", "C003", "SAVINGS", 10000),
    ("A104", "C004", "CREDIT CARD", 8500)
])
cursor.executemany("""
INSERT INTO banked_account_transactioned (account_number, transaction_amount, transaction_date)
VALUES (?, ?, ?)
""", [
    ("A102", 200, "2020-01-10"),
    ("A102", 300, "2020-02-15"),
    ("A104", 500, "2020-03-20")
])
cursor.executemany("""
INSERT INTO banked_account_transactioned (account_number, transaction_amount, transaction_date)
VALUES (?, ?, ?)
""", [
    ("A102", 200, "2020-01-10"),
    ("A102", 300, "2020-02-15"),
    ("A104", 500, "2020-03-20")
])
conn.executemany("""
INSERT INTO bank_transaction_relationship_details (primary_account_number, linked_account_number)
VALUES (?, ?)
""", [
    ("A101", "A102"),
    ("A103", "A104")
])
conn.commit()

In [ ]:
query = """
SELECT
    b.account_number AS savings_account,
    b.account_type AS account_type,
    SUM(t.transaction_amount) AS total_linked_transaction_amount
FROM Banked_Accounts_informations b
JOIN bank_transaction_relationship_details r
ON b.account_number = r.primary_account_number
JOIN Banked_Accounts_informations linked
ON r.linked_account_number = linked.account_number
JOIN banked_account_transactioned t
ON linked.account_number = t.account_number
WHERE b.account_type = 'SAVINGS'
AND linked.account_type = 'CREDIT CARD'
GROUP BY b.account_number, b.account_type;
"""

df = pd.read_sql_query(query, conn)

# 7. Display result
print(df.shape[0], "Rows returned")
df

2 Rows returned

  savings_account account_type  total_linked_transaction_amount
0            A101      SAVINGS                            13500
1            A103      SAVINGS                            13500